<html lang="en">
  <head>
    <title>Virtual Business Card</title>
      <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/presentForm.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  </head>
  <body>
      <!-- I use and modified a template from w3doc form-->
    <section id="form">
      <div className="banner">
          <h1>Hello, This is my Business Card</h1>
      </div>
      <div className="item">
          <h2>Name:</h2>
          <p>{{fn}} {{ln}}</p>
      </div>
      <div className="contact-item">
          {{#if e}}
          <div className="item">
              <h2>Email:</h2>
              <p id="email"> {{e}} </p>
          </div>
          {{/if}}
          {{#if p}}
          <div className="item">
              <h2>Phone #:</h2>
              <p id="phone"> {{p}} </p>
          </div>
          {{/if}}
      </div>
      {{#if t}}
      <div className="item">
          <h2>Job/Position</h2>
          <p id="title"> {{t}} </p>
      </div>
      {{/if}}
      <div className="item">
          <h2>Description About Yourself</h2>
          <p id="info">{{i}}</p>
      </div>
      {{#if l}}
      <div className="item" id="links">
          <h2>Your Links</h2>
          {{#each l}}
            <div><a href="{{this}}" className="link" >{{this}}</a></div>
          {{/each}}
      </div>
      {{/if}}
    </section>
  </body>
</html>